


.calculator{
  border: solid black;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: rgba(223, 117, 117, 0.632);
}
.screen{
  /* border: dotted black; */
  /* height: 30vh; */
  width: 95%;
  margin: auto;
  background-color: rgb(244, 247, 247);
}
.keyboard{
  margin-top: 40px;
  grid-template-columns: 50% 50%;
 
  
}